<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../../js/react/react.js"></script>
  <script src="../../js/react/react-dom.js"></script>
  <script src="../../js/react/browser.min.js"></script>
  <script src="../../js/react/ada/ada2.js" type="text/babel"></script>
  <script src="../../js/jquery/jquery-3.2.1.min.js"></script>
</head>
<body>
<div id="divId"></div>
<div id="divId2"></div>
<div id="divId3"></div>
<div id="divId4"></div>
<div id="divId5"></div>
<div id="divId6"></div>
<div id="divId7"></div>
<div id="divId8"></div>
<div id="divId9"></div>
</body>
</html>